body {
    background: #8dc63f;
    font: 14px Arial;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.wrapper {
    background-color: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.football {
    padding: 0 0 10px 0;
    margin: 0;
    color: #39930d;
    font-size: 22px;
    line-height: 7px;
    font-family: "Arial";
}

.manager {
    color: #39930d;
    font-weight: bold;
    font-family: "Arial";
    font-size: 44px;
}

.logo {
    display: flex;
}

.logo img {
    padding-left: 34px;
}

.logo p {
    margin: 0;
}


.logo span,
.logo h1 {
    display: inline-block;
}


.contacs {
    display: flex;
    flex-direction: column;
}

.contacs span {
    text-align: right;
}

.number {
    color: #39930d;
    font-family: "Arial";
    font-size: 22px;
}



.italic,
.graph {
    color: #5a5a5a;
    font-style: italic;
    font-family: "Arial";
    padding-top: 11px;
}

.italic {
    padding-bottom: 23px;
}

.clear {
    clear: both;
}

header {
    padding-top: 23px;
    display: flex;
    justify-content: space-between;
}

header p {
    display: flex;
    flex-direction: column;
}

header span:first-child {
    font-size: 22px;
    color: #39930d;
    font-family: "Arial";
    margin: 0;
}

header a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

.content {
    display: flex;
    justify-content: space-between;
}

main {
    width: 539px;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
    font-family: "Arial";
    margin: 25px 0 16px;
}

main p {
    font-size: 14px;
    color: #343434;
    font-family: "Arial";
    line-height: 20px;
}


.menu p {
    padding: 14px;
    color: white;
    background: #39930d;
    font-family: "Arial";
    font-size: 18px;
    width: 300px;
}

.menu ul {
    padding: 0 20px;
    list-style-type: none;
}

.menu li {
    margin-bottom: 5px;
}

.menu a {
    color: #39930d;
    text-transform: uppercase;
    line-height: 24px;
    transition: all .5s ease;
    font-size: 14px;
}

.menu a:hover {
    text-decoration: none;
    padding: 0 20px;
    display: block;
    color: #295210;
    opacity: 85%;
    cursor: url('../img/cursor.cur'), auto;
}

.main p:last-child {
    margin: 0;
}

footer {
    background: #39930d;
    margin: 0 -15px;
}

.copyright {
    padding: 17px 15px 14px;
    color: #fff;
    margin-bottom: 0;
}

@media screen and (max-width: 897px) {
    body {
        overflow-y: visible;
    }

    footer {
        margin-top: 65px;
    }
}

@media screen and (max-width: 945px) {
    .general-img {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 589px) {
    header img {
        display: none;
    }
}