
body {
    background: #8dc63f;
    font: 14px Arial;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.wrapper {
    background-color: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.football {
    padding: 0 0 10px 0;
    margin: 0;
    color: #39930d;
    font-size: 22px;
    line-height: 7px;
    font-family: "Arial";
}

.manager {
    color: #39930d;
    font-weight: bold;
    font-family: "Arial";
    font-size: 44px;
}

.title {
    float: left;
    display: block;
    padding-right: 34px;
}



.contacs {
    float: right;
}

.number {
    color: #39930d;
    font-family: "Arial";
    font-size: 22px;
}

.italic,
.graph {
    color: #5a5a5a;
    font-style: italic;
    font-family: "Arial";
    padding-top: 11px;
}

.italic {
    padding-bottom: 23px;
}

.clear {
    clear: both;
}

.header {
    padding-top: 23px;

}

.header span {
    display: flex;
}

.header p {
    margin: 0;
}

.graph {
    float: right;
}

.content {
    display: block;
}

.main {
    float: left;
    width: 539px;

}

.main p:first-child {
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
    font-family: "Arial";
    margin: 25px 0 16px;
}

.main p {
    font-size: 14px;
    color: #343434;
    font-family: "Arial";
    line-height: 20px;
}

.aside {
    float: right;
}

.aside p {
    padding: 14px;
    color: white;
    background: #39930d;
    font-family: "Arial";
    font-size: 18px;
    width: 300px;
}

.aside ul {
    padding: 0 20px;
    list-style-type: none;
}

.aside li {
    margin-bottom: 5px;
}

.aside a {
    color: #39930d;
    text-transform: uppercase;
    line-height: 24px;
    transition: all .5s ease;
    font-size: 14px;
}

.aside a:hover {
    text-decoration: none;
    padding: 0 20px;
    display: block;
    color: #295210;
    opacity: 85%;
    cursor: url('../img/cursor.cur'), auto;
}

.main p:last-child{
    margin: 0;
}

footer {
    background: #39930d;
    margin: 52px -15px;
}

.copyright {
    padding: 17px 15px 14px;
    color: #fff;
    margin-bottom: 0;
}

@media screen and (max-width: 897px){
    body{
        overflow-y: visible;
    }
    footer{
        margin-top: 65px;    
    }
}

@media screen and (max-width: 945px) {
    .general-img {
        overflow-x: scroll;
    }

}

@media screen and (max-width: 897px) {
    .main {
        width: 507px;
    }
}

@media screen and (max-width: 865px) {
    .main {
        width: 400px;
    }
}

@media screen and (max-width: 758px) {
    .main {
        width: 300px;
    }
}

@media screen and (max-width: 658px) {
    .main {
        width: 250px;
    }
}

@media screen and (max-width: 608px) {

    .main,
    .aside {
        float: none;
    }

    .main {
        width: auto;
    }
}

@media screen and (max-width: 589px) {
    .header img {
        display: none;
    }
}